* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 125%;
    background-image: linear-gradient(#FAFAFA, #191919);
}

.wrapper {
    max-width: 1200px;
    width: 85%;
    margin: 0 auto;
    position: relative;
}

img {
    max-width: 100%;
    display: block;
    height: auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;

}

.toolkit {
    img {
        height: 100px;
        width: 100px;
    }
}