header {
    height: 100vh;
    background: url("../assets/AdobeStock_300326216.jpeg") center / cover no-repeat fixed;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: end;
    position: absolute;
    right: 0px;

    ul {
        display: flex;

        a {
            padding: 5px 10px;
        }
    }
}

.slideMenu {
    display: none;
}

.headerContent {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;


}