header {
    height: 100vh;
    background: url("../assets/AdobeStock_264917292.jpeg") center / cover no-repeat;
}

nav {
    height: 10vh;
    display: flex;
    justify-content: end;
    position: absolute;
    left: 0px;

    ul {
        display: flex;
    }
}

.slideMenu {
    display: none;
}

.headerContent {
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: start;
    align-items: center;

    p {
        font-size: 2rem;
    }
}