.projectsContainer {
    padding: 50px 0;

    h2 {
        padding: 50px 0;
    }
}

.gallery {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    // border: 1px solid white;


    li {
        display: flex;
        position: relative;

        &:hover,
        &:focus {

            .galleryImgContainer {
                opacity: 0.7;
                transform: translateX(-50%)
            }

            .galleryTextContainer {
                opacity: 1;
            }
        }
    }
}

.galleryImgContainer {
    width: 50%;
    margin: 0 auto;
    transition: 0.6s ease-in-out;
    opacity: 1;
    // border: 1px solid white;

}


.galleryTextContainer {
    text-align: center;
    transition: 0.6s ease-in-out;
    position: absolute;
    top: 30%;
    left: 50%;
    opacity: 0;
    // border: 1px solid white;

    a {
        margin: 5px;
        padding: 5px 10px;
        border-radius: 5px;

        &:hover,
        &:focus {
            background-color: white;
        }
    }
}