html {
    @include bodyText(1rem, $lora, 1.7, $spaceCadet, bold);
}

h1 {
    @include headline(3.5rem, $montserat, 1.2, $almostWhite);
}

h2 {
    @include headline(3rem, $montserat, 1.2, $almostWhite);
    padding-bottom: 20px;
}

h3 {
    @include headline(2rem, $montserat, 1.2, $almostWhite);
}

h4 {
    @include headline(1.5rem, $montserat, 1.2, $almostWhite);
    margin: 20px 0 30px 0;
}

a {
    color: $spaceCadet;
    font-family: $montserat;
    margin: 5px;
    padding: 5px 10px;
    border-radius: 5px;
    transition: 0.5s;

    &:hover,
    &:focus {
        background-color: $almostWhite;
        cursor: pointer;
    }
}

.initialGreetings span {
    @include headline(3.5rem, $montserat, 1.25, $almostWhite);
}