@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption,
figure,
main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button,
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details,
menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 1rem;
  font-family: "Lora", serif;
  line-height: 1.7;
  color: #2E294E;
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #FAFAFF;
  text-align: center;
}

h2 {
  font-size: 3rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #FAFAFF;
  text-align: center;
  padding-bottom: 20px;
}

h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #FAFAFF;
  text-align: center;
}

h4 {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  color: #FAFAFF;
  text-align: center;
  margin: 20px 0 30px 0;
}

a {
  color: #2E294E;
  font-family: "Montserrat", sans-serif;
  margin: 5px;
  padding: 5px 10px;
  border-radius: 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
a:hover, a:focus {
  background-color: #FAFAFF;
  cursor: pointer;
}

.initialGreetings span {
  font-size: 3.5rem;
  font-family: "Montserrat", sans-serif;
  line-height: 1.25;
  color: #FAFAFF;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 125%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#60b8ce), to(#3468ac));
  background-image: linear-gradient(#60b8ce, #3468ac);
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
  position: relative;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

header {
  height: 100vh;
  background: url("../assets/AdobeStock_2649172923.jpg") center/cover no-repeat;
  position: relative;
}

.menu {
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  position: relative;
  left: 0px;
}

.slideMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

label[for=toggle],
input[type=checkbox] {
  display: none;
}

.headerContent {
  height: 90vh;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerContent span::before {
  content: "";
  -webkit-animation: typing 30s ease-in-out infinite;
          animation: typing 30s ease-in-out infinite;
}
@-webkit-keyframes typing {
  0% {
    content: "Hello!";
  }
  10% {
    content: "Olá!";
  }
  20% {
    content: "Salut!";
  }
  30% {
    content: "Ciao!";
  }
  40% {
    content: "Sata srī akāla!";
  }
  50% {
    content: "Kon'nichiwa!";
  }
  60% {
    content: "Hallo!";
  }
  70% {
    content: "Nǐ hǎo!";
  }
  80% {
    content: "Pryvit!";
  }
  90% {
    content: "Namaste!";
  }
  100% {
    content: "Hola!";
  }
}
@keyframes typing {
  0% {
    content: "Hello!";
  }
  10% {
    content: "Olá!";
  }
  20% {
    content: "Salut!";
  }
  30% {
    content: "Ciao!";
  }
  40% {
    content: "Sata srī akāla!";
  }
  50% {
    content: "Kon'nichiwa!";
  }
  60% {
    content: "Hallo!";
  }
  70% {
    content: "Nǐ hǎo!";
  }
  80% {
    content: "Pryvit!";
  }
  90% {
    content: "Namaste!";
  }
  100% {
    content: "Hola!";
  }
}
.headerContent p {
  font-size: 2rem;
}

.arrow {
  position: absolute;
  bottom: 3%;
  left: 50%;
  -webkit-animation: arrow 1s linear 0s infinite normal;
          animation: arrow 1s linear 0s infinite normal;
}
.arrow span {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid #FAFAFF;
  border-right: 5px solid #FAFAFF;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
@-webkit-keyframes arrow {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes arrow {
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.profile .profileImgContainer {
  margin: 50px 0;
}
.profile .profileImgContainer img {
  width: 80%;
  border-radius: 50%;
  margin: 0 auto;
}
.profile .profileTextContainer {
  width: 50%;
  text-align: left;
  margin: 50px 0;
}

.skills {
  padding: 50px 0;
  margin-top: 25px;
}
.skills h2 {
  text-align: center;
}

.toolkit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.toolkit li {
  width: calc(20% - 10px);
  min-width: 100px;
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.toolkit li i {
  display: inline-block;
  font-size: 5rem;
  margin: 0 auto;
}

.projectsContainer {
  padding: 50px 0;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 500px;
}
.gallery li:hover .galleryImgContainer, .gallery li:focus-within .galleryImgContainer {
  opacity: 0.7;
  -webkit-transform: translateX(-42%);
          transform: translateX(-42%);
}
.gallery li:hover .galleryTextContainer, .gallery li:focus-within .galleryTextContainer {
  opacity: 1;
}

.galleryImgContainer {
  width: 60%;
  margin: 0 auto;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  opacity: 1;
}

.galleryTextContainer {
  text-align: center;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  position: absolute;
  top: 25%;
  left: 50%;
  opacity: 0;
}

.contact {
  padding: 50px 0;
}

.socialMedia {
  width: 70%;
  padding-top: 40px;
  margin: 0 auto;
}
.socialMedia h3 {
  padding-bottom: 15px;
}
.socialMedia ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}
.socialMedia ul li {
  scale: 1.5;
  max-width: 100%;
}
.socialMedia ul i {
  display: inline-block;
  color: #60b8ce;
  font-size: 2rem;
  margin: 0 auto;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 70%;
  margin: 0 auto;
  padding-top: 50px;
}
form input {
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #FFD400;
  color: white;
  background: transparent;
}
form textarea {
  resize: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #FFD400;
  color: white;
  margin-top: 10px;
}
form button {
  margin: 10px 0;
  height: 40px;
  border: none;
  border-radius: 5px;
  background-color: #FFD400;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
form button:hover, form button:focus {
  background-color: #FAFAFF;
  cursor: pointer;
}

.personalInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.personalInfo input[type=text],
.personalInfo input[type=email] {
  width: calc(50% - 5px);
}

::-webkit-input-placeholder {
  color: #161925;
}

::-moz-placeholder {
  color: #161925;
}

:-ms-input-placeholder {
  color: #161925;
}

:-moz-placeholder {
  color: #161925;
}

footer {
  text-align: center;
  color: white;
}

@media (max-width: 1260px) {
  .galleryTextContainer {
    top: 15%;
  }
}
@media (max-width: 960px) {
  header {
    background-position: -950px 0px;
  }
  header h1 {
    color: #2E294E;
    text-align: left;
  }
  header p {
    text-align: left;
  }

  .profile {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile .profileImgContainer img {
    width: 60%;
  }
  .profile .profileTextContainer {
    width: 90%;
    text-align: center;
    margin: 0px;
  }

  .galleryTextContainer {
    top: 10%;
  }

  .socialMedia {
    width: 100%;
  }

  form {
    width: 100%;
  }
}
@media (max-width: 860px) {
  .toolkit li i {
    font-size: 4rem;
  }

  .gallery li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .gallery li:hover .galleryImgContainer, .gallery li:focus .galleryImgContainer {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(-20%);
            transform: translateY(-20%);
  }

  .galleryTextContainer {
    position: relative;
    top: -100px;
    left: 0%;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.75rem;
  }

  .initialGreetings span {
    font-size: 3rem;
  }

  .headerContent p {
    font-size: 1.75em;
  }
}
@media (max-width: 620px) {
  header {
    background-image: url("../assets/AdobeStock_3189759441.jpg");
    background-position: -1100px 0px;
  }

  .headerContent {
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .headerContent .initialGreetings {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .headerContent h1 {
    color: #FAFAFF;
    text-align: right;
  }
  .headerContent p {
    color: #FAFAFF;
    text-align: right;
  }

  label[for=toggle] {
    display: inline-block;
    height: 40px;
    padding: 10px;
    position: fixed;
    z-index: 30;
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 10px;
  }
  label[for=toggle] i {
    vertical-align: top;
    color: #FAFAFF;
  }

  .slideMenu {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: rgba(10, 10, 10, 0.6);
    color: #FAFAFF;
    position: absolute;
    z-index: 30;
    left: -250px;
    top: 60px;
  }
  .slideMenu a {
    color: #FAFAFF;
  }
  .slideMenu a:hover, .slideMenu a:focus {
    background-color: #f58220;
  }

  input[type=checkbox]:checked + .slideMenu {
    left: 7.5%;
    top: 60px;
    position: fixed;
  }

  .toolkit li {
    width: calc(33.3333333333% - 10px);
  }
  .toolkit li i {
    font-size: 3rem;
  }

  .gallery li {
    height: 100%;
  }
  .gallery li:hover .galleryImgContainer, .gallery li:focus .galleryImgContainer {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }

  .galleryImgContainer {
    width: 80%;
    margin: 0 auto;
    -webkit-transition: none;
    transition: none;
  }

  .galleryTextContainer {
    position: unset;
    opacity: 1;
  }

  .socialMedia ul i {
    font-size: 1rem;
  }

  .personalInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .personalInfo input[type=text],
.personalInfo input[type=email] {
    width: 100%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.75rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1rem;
  }

  .initialGreetings span {
    font-size: 2rem;
  }

  .headerContent p {
    font-size: 1.5em;
  }
}